# 포트원 가맹점 식별코드
# 실제 가맹점 코드로 변경하세요
PORTONE_IMP_CODE=imp20751052

# API 서버 URL
# iOS 시뮬레이터: http://localhost:3000/api
# Android 에뮬레이터: http://10.0.2.2:3000/api
# 실제 기기: http://192.168.x.x:3000/api (컴퓨터 IP 주소로 변경)
# API_BASE_URL=http://localhost:3000/api
# 집 ip
# API_BASE_URL=http://192.168.1.100:3000/api
# 청년작당소 ip
# API_BASE_URL=http://192.168.0.10:3000/api
# 폰핫스팟 ip
API_BASE_URL=http://10.127.53.38:3000/api

# 카카오 로컬(지오코딩) REST API 키
KAKAO_REST_API_KEY=40a5a69fa047e58e834539fe0d897622

